@using MyRoutine.Models.Enums
@model MyRoutine.Models.ViewModels.DietFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Diet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Diet.Name" class="control-label">Nome da Dieta</label>
                <input asp-for="Diet.Name" class="form-control" />
                <span asp-validation-for="Diet.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diet.DateInitial" class="control-label">Data inicial</label>
                <input asp-for="Diet.DateInitial" class="form-control" />
                <span asp-validation-for="Diet.DateInitial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diet.DateFinal" class="control-label">Data final</label>
                <input asp-for="Diet.DateFinal" class="form-control" />
                <span asp-validation-for="Diet.DateFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meal.Type" class="control-label">Data final</label>
                <select asp-for="Meal.Type" asp-items="Html.GetEnumSelectList<MealType>()">
                <option value="">Selecione</option>
                </select>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
